PORT= 3002
MONGO_DB_CONNECTION_STRING= mongodb+srv://<username>:<password>@cluster0.vwdyv.mongodb.net/eriders-performance?retryWrites=true&w=majority
GOOGLE_PROJECT_ID= 
TOPIC_NAME= 
SUBSCRIBTION_NAME= 
GOOGLE_APPLICATION_CREDENTIALS= gcpCreds.json